<section class="hero is-info is-large is-fullheight">
  <div class="hero-body">
    <div *ngIf="phase == PhaseType.Welcome" class="container has-text-centered">
      <h1 class="title is-1">Välkommen to UBB!</h1>
      <button (click)="phase = PhaseType.HowMany" class="button is-primary is-large">Starta ett nytt spel!</button>
    </div>
    <div *ngIf="phase == PhaseType.HowMany" class="container has-text-centered">>
      <h1 class="title is-1">Hur många spelare?</h1>
      <div class="field">
        <div class="control">
          <input class="input is-primary" type="text" placeholder="Primary input">
        </div>
      </div>
      <button (click)="phase = PhaseType.Game" class="button is-primary is-large">Ok</button>
    </div>
    <div *ngIf="phase == PhaseType.Game" class="container has-text-centered">
      <app-board></app-board>
    </div>
  </div>
</section>
