fa-icon {
  margin-left: 5px;
}

th, td {
  vertical-align: middle;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
