<table class="table">
  <thead>
  <tr>
    <th>Namn</th>
    <th>
      <app-short></app-short>
      <app-short></app-short>
    </th>
    <th>
      <app-short></app-short>
      <app-long></app-long>
    </th>
    <th>
      <app-long></app-long>
      <app-long></app-long>
    </th>
    <th>
      <app-short></app-short>
      <app-short></app-short>
      <app-short></app-short>
    </th>
    <th>
      <app-short></app-short>
      <app-short></app-short>
      <app-long></app-long>
    </th>
    <th>
      <app-short></app-short>
      <app-long></app-long>
      <app-long></app-long>
    </th>
    <th>
      <app-long></app-long>
      <app-long></app-long>
      <app-long></app-long>
    </th>
  </tr>
  </thead>
</table>
