/* You can add global styles to this file, and also import other style files */
html {
  margin: 0px;
  height: 100%;
  background-color: #3298dc !important;
}

body {
  margin: 0px;
  min-height: 100%;
}
